@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>LinkedIn:</strong><p><a href="https://www.linkedin.com/in/brian-paulo-naoe-89049b1a3/" class="btn btn-primary btn-lg">Author &raquo;</a></p>
</address>