@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DocuWiz</h1>
    <p class="lead"> A clinical documentation reference documentation bank designed to assist with health care provider documentation.</p>
    <p><a href="https://www.linkedin.com/in/brian-paulo-naoe-89049b1a3/" class="btn btn-primary btn-lg">Author &raquo;</a></p>
</div>